/* ------------ Google Fonts ------------ */

    @import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

/* ------------ Variables Colors ------------ */

    :root {

        --bg-primary: #ffa000;
        --bg-white: #fff;
        --bg-light: #ddd;
        --bg-dark: #222;
        --bg-black: #000;

        --txt-primary: #ffa000;
        --txt-white: #fff;
        --txt-light: #ddd;
        --txt-dark: #222;
        --txt-black: #000;

    }

/* ------------ Basic Styling ------------ */

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

/* ------------ Headers ------------ */

    header {
        background-color: var(--bg-dark);
        color: var(--txt-white);
        padding: 2rem 0;
    }

    header a {
        color: var(--txt-white);
    }

    header a:hover {
        color: var(--txt-primary);
    }

/* ------------ Sections ------------ */

    section {
        background-color: var(--bg-white);
        color: var(--txt-dark);
        padding: 2rem 0;
    }

    section a {
        color: var(--txt-dark);
    }

    section a:hover {
        color: var(--txt-primary);
    }

/* ------------ Footers ------------ */

    footer {
        background-color: var(--bg-dark);
        color: var(--txt-white);
        padding: 2rem 0;
    }

    footer a {
        color: var(--txt-white);
    }

    footer a:hover {
        color: var(--txt-primary);
    }

/* ------------ Typography ------------ */

    body {
        font-family: "Poppins", sans-serif;
    }

    h1 {
        font-size: 3rem;
        font-weight: 500;
    }

    h2 {
        font-size: 2rem;
        font-weight: 500;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 500;
    }

    p {
        font-size: 1rem;
        font-weight: 300;
    }

    a {
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        transition: ease-in-out 250ms;
    }

/* ------------ Alignment - Text ------------ */

    .txt-left {
        text-align: left;
    }

    .txt-center {
        text-align: center;
    }

    .txt-right {
        text-align: right;
    }

    .txt-justify {
        text-align: justify;
    }

/* ------------ Container ------------ */

    .container {
        width: 80%;
        margin: 0 auto;
    }

/* ------------ Dividers - Block ------------ */

    .block-divider {
        background-color: var(--bg-primary);
        margin: 1rem auto;
        height: 0.2rem;
        width: 4rem;
    }

/* ------------ Dividers - Section ------------ */

    .section-divider {
        background-color: var(--bg-light);
        height: 0.1rem;
        width: 100%;
    }

/* ------------ Images ------------ */
    
    img {
        width: 100%;
    }

/* ------------ Grids ------------ */

    .grid-two {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        row-gap: 2rem;
    }

    .grid-three {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
        row-gap: 2rem;
    }

/* ------------ Tables ------------ */

    .table-two {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .table-three {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .table-four {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .table-heading {
        border-bottom: 0.2rem solid;
        font-weight: 700;
        padding: 1rem;
    }

    .table-data {
        border-bottom: 0.1rem solid;
        font-weight: 300;
        padding: 1rem;
    }

/* ------------ Navbar ------------ */

    .navbar {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        font-family: "Alex Brush", sans-serif;
        font-size: 3rem;
    }

    .navbar ul {
        display: flex;
    }

    .navbar li {
        list-style: none;
    }

    .navbar a {
        color: var(--txt-white);
        padding: 0 1rem;
    }

    .navbar a:hover {
        color: var(--txt-primary);
    }

/* ------------ Media Queries ------------ */

    @media screen and (max-width: 600px)

    {

        .grid-two {
            grid-template-columns: 1fr;
        }

        .grid-three {
            grid-template-columns: 1fr;
        }

        .grid-four {
            grid-template-columns: 1fr;
        }

    }